# Node.js modules
/node_modules/

# Переменные окружения
.env

# Логи
*.log

# Директории сборки
/dist
/build

# Файлы системы
.DS_Store
Thumbs.db

# IDE и текстовые редакторы
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Системные файлы
*.bak
*.tmp
